<!DOCTYPE html>
<html>
<head> 
	<link rel='stylesheet'type='text/css'href='{{ url_for("static", filename="css/st.css")}}'>
	<link rel="icon" href="https://d1nw62gticy6e9.cloudfront.net/uploads/Urban-Farmer-Favicon-Tomato.jpg" type="image/x-icon"/>
	<title>Fridgeries</title>
</head>
<body>

	
<nav>
        <div class="logo">
        <h4>Fridgeries</h4>
        </div>
        <ul class="nav-links">
            <li><a href="#" style="text-decoration: underline;"}>Moj Hladnjak</a></li>
            <li><a href='/unos'>Dodaj Namirnicu</a></li>
            <li><a href='/prijava'>Odjava</a></li>
        </ul>
    </nav>
	<br><br><br><br><br>
	<div id="sadrzaj">
	<form action='' method='POST' class='tab'>

	<input type='submit' name='prikaz' value='Prikaži namirnice'> 

	</div>
	

</body>
</html>